<div class="container">
        <div pt-tasks-list 
            title="Tasks to do:"
            datasource="tasksCtrl.tasks" 
            initializing="tasksCtrl.initializing"
            loading="tasksCtrl.loading"
            update="tasksCtrl.updateTask"
            delete="tasksCtrl.deleteTask"></div>
            
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Enter new task's name" ng-model="tasksCtrl.newTask.name">
                    </div>

                    <button type="submit" 
                            class="btn btn-primary btn-lg" 
                            ng-click="tasksCtrl.createTask()"
                            ng-disabled="!tasksCtrl.newTask.name">Add</button>
                </form>
            </div>
        </div>

        <!--<div pt-tasks-list 
            title="Tasks already done:"
            datasource="tasksCtrl.dones" 
            initializing="tasksCtrl.initializing"
            loading="tasksCtrl.loading"
            update="tasksCtrl.updateTodo"
            delete="tasksCtrl.deleteTodo"></div>-->
    </div>