<div class="container">
        <div pt-tasks-list 
            title="Tasks to do:"
            datasource="ctrl.todos" 
            initializing="ctrl.initializing"
            loading="ctrl.loading"
            update="ctrl.updateTodo"
            delete="ctrl.deleteTodo"></div>
            
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="I want more todos" ng-model="ctrl.newTodo.text">
                    </div>

                    <button type="submit" 
                            class="btn btn-primary btn-lg" 
                            ng-click="ctrl.createTodo()"
                            ng-disabled="!ctrl.newTodo.text">Add</button>
                </form>
            </div>
        </div>

        <div pt-tasks-list 
            title="Tasks already done:"
            datasource="ctrl.dones" 
            initializing="ctrl.initializing"
            loading="ctrl.loading"
            update="ctrl.updateTodo"
            delete="ctrl.deleteTodo"></div>
    </div>