# EditorConfig is awesome: http://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js}]
charset = utf-8

indent_size = 4