<div>
    <div class="jumbotron text-center" ng-show="!self.loading">
        <h2>{{ self.title }} <span class="label label-info">{{ self.datasource.length }}</span>
        </h2>
    </div>

    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="item in self.datasource" ng-show="!self.loading">
                <label>
                    <input type="checkbox" ng-model="item.done" ng-click="self.updateTodo(item)"> {{ item.text }}
                    <button ng-click="self.deleteTodo(item)">Delete</button>
                 </label>
            </div>

            <p class="text-center" ng-show="self.loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>
        </div>
    </div>
</div>