<div>
    <div class="jumbotron text-center" ng-show="!self.initializing">
        <h2>{{ self.title }} <span class="label label-info">{{ self.datasource.length }}</span>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="item in self.datasource" ng-show="!self.initializing">
                <label>
                    <input type="checkbox" ng-model="item.done" ng-click="self.updateTask(item)"> {{ item.name }}
                    <button ng-click="self.deleteTask(item)">Delete</button>
                 </label>
            </div>

            <p class="text-center" ng-show="self.loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>
        </div>
    </div>
</div>