<div ng-click="taskLstCtrl.selectTask()">
    <div id="todo-form" class="row">
        <div>
            <form>
                <div class="form-group col-md-10">
                    <input type="text" class="form-control input text-left" placeholder="Enter new task's name" ng-model="taskLstCtrl.newTask.name">
                </div>

                <button type="submit" class="btn btn-primary col-md-2" ng-click="taskLstCtrl.createTask()" ng-disabled="!taskLstCtrl.newTask.name">Add</button>
            </form>
        </div>
    </div>

    <div>
        <div class="w3-panel"
        ng-repeat="item in taskLstCtrl.tasks" 
        ng-show="!taskLstCtrl.initializing"
        ng-click="taskLstCtrl.selectTask(item); $event.stopPropagation();" 
        ng-class="{'w3-note': item.id === taskLstCtrl.selectedId}">
            <div pt-task task="item" update="taskLstCtrl.updateTask" delete="taskLstCtrl.deleteTask"></div>
        </div>

        <p ng-show="taskLstCtrl.loading">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>
    </div>
</div>