<div>
    <h3>Task details</h3>

    Task name:<input class="task-text form-control input text-left input-borderless" ng-model="taskCtrl.task.title" ng-change=taskCtrl.updateTask() type="text">

    Task description:
    <input class="task-text form-control input text-left input-borderless" ng-model="taskCtrl.task.description" ng-change=taskCtrl.updateTask() type="text">
    
    Task was created at: <input class="task-text form-control input text-left input-borderless" ng-model="taskCtrl.task.createdAt" type="datetime">
</div>