.vertical-divider > div[class^="col-"] {
  border-right: 6px solid #F2F7F9;
  padding-right: 30px;
  height: 100%;
}

.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.w3-note {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b!important;
}
.w3-panel {
    padding: 4px 16px;
    border-left: 6px solid #F2F7F9;
}

.w3-borderless {
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    background-color: transparent!important;
    border: 0 solid transparent!important;
}

