.vertical-divider > div[class^="col-"] {
  border-right: 6px solid #F2F7F9;
  padding-right: 30px;
  height: 100%;
}

.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
